@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #fdfde1;
  --color-accent: #ed1d24;
  --color-dark: #000000;
  --color-secondary: #1c1c1c;
  --color-background: var(--color-dark);
  --color-foreground: var(--color-primary);

  --font-sans: "Inter", sans-serif;
  --font-heading: "Syne", sans-serif;
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    background-color: #000000 !important;
    color: #fdfde1;
    font-family: "Inter", sans-serif !important;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Syne", sans-serif !important;
    color: var(--color-primary);
  }

  p,
  span,
  li,
  button,
  input,
  textarea {
    font-family: "Inter", sans-serif;
  }

  a {
    color: var(--color-accent);
    font-family: "Inter", sans-serif;
    transition: color 0.15s ease-in-out;
  }

  a:hover {
    color: var(--color-primary);
  }
}